<div class="content" >
<div class="section" >
<article>
<H2>What is Turkman Linux ?</H2><p>
Turkman Linux is a independent GNU/Linux distribution. It uses its own YMP (Yerli ve Milli Package) manager. Turkman Linux is a distribution originating from Turkiye. 🇹🇷 The reason for its development is to create an independent distribution using new generation technologies and to provide ease of use.<br>
<br>
    All packages come with header files and static libraries. In this way, it is easier to compile than other distributions.<br> Turkman <b>does not use systemd</b>.
<br>
    It has a mixed (binary and source) package system that works quickly. While those who want to install packages from the source code, those who want can use the compiled packages.<br>
<br>
<H2>How to download iso images ?</H2><p>
If you are end user, you should use <a href="https://github.com/turkman-linux/turkman-enduser/releases/download/latest/turkman-cinnamon-enduser.iso">end user edition</a><br><br>
If you are advanced user, you should our editions:<br>
<table class="tg">
<tbody>
  <tr>
    <th class="tg-0lax">minimal</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-minimal/releases/download/latest/turkman-minimal.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-minimal/releases/download/latest/turkman-minimal-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">x11</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-x11/releases/download/latest/turkman-x11.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-x11/releases/download/latest/turkman-x11-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">lxde</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-lxde/releases/download/latest/turkman-lxde.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-lxde/releases/download/latest/turkman-lxde-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">xfce</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-xfce/releases/download/latest/turkman-xfce.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-xfce/releases/download/latest/turkman-xfce-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">cinnamon</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-cinnamon/releases/download/latest/turkman-cinnamon.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-cinnamon/releases/download/latest/turkman-cinnamon-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">sway</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-sway/releases/download/latest/turkman-sway.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-sway/releases/download/latest/turkman-sway-firmware.iso">Firmware</a></th>
  </tr>
  <tr>
    <th class="tg-0lax">kde</th>
    <th class="tg-0lax"><a href="https://github.com/turkman-linux/iso-kde/releases/download/latest/turkman-kde.iso">FOSS</a></th>
    <th class="tg-0lax">or <a href="https://github.com/turkman-linux/iso-kde/releases/download/latest/turkman-kde-firmware.iso">Firmware</a></th>
  </tr>
</tbody>
</table><br>
<b>*</b> The FOSS edition does not include linux-firmware, but the firmware edition does.


<H2>How to contribute project ?</H2><p>
Our source code mirrors:<br>
<br>
<b>*</b> <a href="https://gitlab.com/turkman">Gitlab</a><br>
<b>*</b> <a href="https://github.com/turkman-linux">Github</a> (mirror)<br>
<br>
Ymp documentation here:<br>
<b>*</b> <a href="https://gitlab.com/turkman/devel/sources/ymp/-/tree/master/doc">Ymp documentation</a><br>
<br>
You can use our docker image:<br>
<b>*</b> <a href="https://gitlab.com/turkman/devel/assets/docker-images">docker image gitlab page</a><br>
<br>
Also you can build turkman linux iso image with mkiso:<br>
<b>*</b> <a href="https://gitlab.com/turkman/devel/assets/mkiso">mkiso gitlab page</a><br>
<br>
Package ympbuild sources here:<br>
<b>*</b> <a href="https://gitlab.com/turkman/packages/main">ympbuild source repository</a><br>
<br>
<H2>Turkman Community</H2><p>
<b>*</b> <a href="https://github.com/orgs/turkman-linux/discussions">Github discussions (Turkish)</a><br>
<b>*</b> <a href="https://t.me/turkman_sohbet">Telegram chat (Turkish)</a><br>
<b>*</b> <a href="https://gitlab.com/groups/turkman/-/issues">Gitlab issues (Global)</a><br>
<H2>Team:</H2><p>
<a href="https://gitlab.com/sulincix">🇹🇷 Ali Riza KESKIN</a><br>
<a href="https://gitlab.com/bayramkarahan">🇹🇷 Bayram KARAHAN</a><br>
<a href="https://github.com/mobilturka">🇹🇷 Bulent ERGUN</a><br>
<a href="https://github.com/frkntlr">🇹🇷 Furkan ATALAR</a><br>
<a href="https://github.com/heyderismayilli092">🇦🇿 Hǝydǝr İSMAYILI</a><br>
<a href="https://codeberg.org/kurth4cker">🇹🇷 Kurth4cker</a><br>
<a href="https://gitlab.com/QueryVS">🇹🇷 QueryVS</a><br>
<a href="https://github.com/osmancoskun">🇹🇷 Osman COSKUN</a><br>
<a href="https://github.com/subhanqedirli">🇦🇿 Sübhan QƏDİRLİ </a><br>
<a href="https://gitlab.com/cakarsu">🇹🇷 Celalettin AKARSU</a><br>
</article>
</div>
</div>
